<tr>
    <td>
        {{ name }}
    </td>
    <td>
        {{ resort }}
    </td>
    <td>
        {{ review }}
    </td>
    <td>
        <a href="#/edit-review" class="edit-review-link btn btn-primary" data-review-id="{{ id }}">Edit</a>
    </td>
</tr>