<p class="page-title">Northstar</p>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="weather-card one">
                <div class="top">
                    <div class="wrapper">
                        <div class="mynav">
                            <a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
                            <a href="javascript:;"><span class="lnr lnr-cog"></span></a>
                        </div>
                        <h1 class="heading">{{description}}</h1>
                        <h3 class="location">Northstar, CA</h3>
                        <p class="temp">
                            <span class="temp-value">{{temp}}</span>
                            <span class="deg">0</span>
                            <a href="javascript:;"><span class="temp-type">F</span></a>
                        </p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="wrapper">
                        <ul class="forecast">
                            <a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
                            <li class="active">
                                <span class="date">Snowfall</span>
                                <span class="lnr lnr-sun condition">
                                    <span class="temp">{{snow}}IN<span
                                </span>
                            </li>
                            <li>
                                <span class="date">Last updated</span>
                                <span class="lnr lnr-cloud condition">
                                    <span class="temp">{{time}}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>